[default]
bot_token = 
channel_id = 
special_channel_id =
command_help = !help
command_tier = !tier
command_ship = !ship
command_choice = !choice
command_pickup = !pickup
command_team = !team
command_luck = !luck
command_kuji = !kuji
